<h1> Create a New Game </h1>

<% if @game.errors.any? %>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for :game, url: games_path do |f| %>
    <p>
      <%= f.label :lives %>
      <%= f.text_field :lives %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'back', games_path %>
