<h1>Game <%= @game.id %></h1>
<h2>Guessed Letters: <%= @game.guessed_letters %></h2>
<h2>Lives Remaining: <%= @game.lives_remaining %></h2>
<h2><%= @game.board %></h2>

<%= link_to 'Back to Index', games_path %>
